html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

*{
    position: relative;
}

.page{
    width: 100%;
    height: 100%;
    display: none;
}

.control {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    /* display: none; */
}

.btn{
    background-color: black;
    width: 100px;
    height: 60px;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
}

.select-food{
    z-index: 10;
    /* background-color: red; */
}

.baking{
    /* background-color: blue; */
}

.net{
    top: 36%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: auto;
    z-index: 2;
}

.fire{
    opacity: 0.6;
    top: 36%;
    left: 5%;
    position: absolute;
    width: 90%;
    height: auto;
    z-index: 1;
}

.menu{
    width: 94%;
    height: auto;
    bottom: -110%;
    left: 3%;
}

.candy-collider{
    width: 140px;
    height: 120px;
    position: absolute;
    z-index: 3;
}

#candy-1{
    left: 24%;
    top: 39%;
}

#candy-2{
    left: 39%;
    top: 39%;
}

#candy-3{
    left: 54%;
    top: 39%;
}

#candy-4{
    left: 69%;
    top: 39%;
}

.check{
    display: none;
    position: absolute;
    left: 29px;
    bottom: -19px;
    width: 80%;
    height: auto;
}

.sent{
    display: none;
    position: absolute;
    right: 17%;
    bottom: 13%;
    width: 13%;
    height: auto;
    z-index: 5;
}

.word-1{
    display: none;
    width: 56%;
    position: absolute;
    top: 7%;
    left: 21%;
}

.word-2{
    display: none;
    width: 46%;
    position: absolute;
    top: 7%;
    left: 31%;
    opacity: 0;
}

.word-3{
    display: none;
    width: 46%;
    position: absolute;
    top: 7%;
    left: 31%;
}

.taco-food{
    position: absolute;
    z-index: 5;
    width: 24%;
    height: auto;
    left: 50%;
    bottom: -126%;
    transform: translateX(-50%);
    display: none;
}

.more{
    position: absolute;
    z-index: 100;
    width: 32%;
    height: auto;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
}

.fireworks-1{
    width: 20%;
    height: auto;
    position: absolute;
    z-index: 30;
    top: 20%;
    left: 5%;
    display: none;
    opacity: 0;
}


.fireworks-2{
    width: 20%;
    height: auto;
    position: absolute;
    z-index: 30;
    top: 40%;
    left: 25%;
    display: none;
    opacity: 0;
}

.fireworks-3{
    width: 20%;
    height: auto;
    position: absolute;
    z-index: 30;
    top: 30%;
    left: 80%;
    display: none;
    opacity: 0;
}

.taco-hand{
    position: absolute;
    width: 20%;
    height: auto;
    z-index: 10;
    bottom: -30%;
    left:0;
}

.taco-hand-1{
    left: 0%;
}
.taco-hand-2{
    left: 13%;
}
.taco-hand-3{
    left: 23%;
}
.taco-hand-4{
    left: 57%;
}
.taco-hand-5{
    left: 67%;
}
.taco-hand-6{
    left: 80%;
}
